@import "../mixins.scss";

.history-order-detail {
	@include dialog-frame;

	.dialog-wrapper {	
		@include dialog-wrapper(560px);
		z-index: 142;

		.dialog {
			@include dialog(350px, 560px);

			.close-dialog {
				color: $light-theme-color;
				cursor: pointer;
				font-size: 14px;
				height: 40px;
				line-height: 40px;
				padding-right: 20px;
				text-align: right;
			}

			.content {
				font-size: 12px;
				text-align: center;

				table {
					width: 100%;

					tr {
						height: 30px;

						td {
							text-align: left;
						}
					}

					.even {
						background-color: #F9F9F9;
					}

					.text {
						color: #000;
						padding-left: 20px;
						width: 40%;
					}

					.value {
						color: #A7A7A7;
						width: 40%;
					}
				}

				.number-content {
				    color: #000;
				    text-align: left;
				    margin-left: 20px;
				    margin-top: 10px;
				}

				.textarea {
					height: 100px;
					padding: 10px 20px;
					text-align: left;

					textarea {
						color: #000;
						height: 100%;
						width: 100%;

						&:focus {
							border-color: #66afe9;
						}
					}
				}
			}

			.button-zone {
				bottom: 0;
				position: absolute;
				text-align: center;
				width: 100%;

				.cancel {
					display: inline-block;
					width: 50%;

					.cancel-order {
						@include im-button(40px);
					}
				}

				.ok {
					display: inline-block;
					width: 50%;

					.ok-button {
						@include im-button(40px);
					}
				}

				.can-not-cancel {
					.im-button {
						opacity: 0.4;
					}
				}
			}
		}
	}

	& + .overlay2 {
		z-index: 141;
	}
}
